<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.web3.starter"
    version     = "1.0.0" >
  
<!-- General Info   -->
   <name>Web 3 Starter</name>
    <description>
           Web 3 Starter
    </description>
    <author href="https://ewu.design" email="you@domain.com">
            Web 3 Starter
    </author>
  
<!-- Build Platforms -->  
    <platform name="ios"/>
    <platform name="android"/>
    <platform name="winphone"/>
    
<!-- iOS Settings   -->
<!-- <preference name="phonegap-version" value="cli-6.5.0" /> -->
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="target-device" value="universal"/>
    <preference name="deployment-target" value="7.0"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="prerendered-icon" value="false"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="ios-statusbarstyle" value="default"/>
    <preference name="StatusBarStyle" value="default" />
  
<!-- Android Settings -->
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-installLocation" value="auto" />  

<!--  iOS Icons  -->
  <platform name="ios">
        <icon src="/img/favicons/apple-touch-icon.png" width="57" height="57"/>    
  </platform>  
  
<!-- Android Icons -->
  <platform name="android">
      <splash src="/img/favicons/android-chrome-192x192.png" qualifier="ldpi"/>
      <splash src="/img/favicons/android-chrome-512x512.png" qualifier="ldpi"/>
  </platform>
  
<!-- Permissions   -->
      <preference name="permissions" value="none"/>
      <access origin="*" subdomains="true"/>
      <allow-intent href="http://*/*"/>
      <allow-intent href="https://*/*"/>
      <allow-intent href="tel:*"/>
      <allow-intent href="sms:*"/>
      <allow-intent href="mailto:*"/>
      <allow-intent href="geo:*"/>
      <platform name="android">
        <allow-intent href="market:*"/>
      </platform>
      <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
      </platform>
  
</widget>
